body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

/* slider */
.slider {
    width: 100%;
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
  
  .slides {
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slides input {
    display: none;
  }
  
  .slide {
    width: 20%;
    transition: 3s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navigation-manual {
    position: absolute;
    width: 100%;
    max-width: 800px;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .manual-btn {
    border: 3px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child) {
    margin-right: 20px;
  }
  
  .manual-btn:hover {
    background: red;
  }
  
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first {
    margin-left: -40%;
  }
  
  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .navigation-auto div {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child) {
    margin-right: 22px;
    margin-top: 1px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background: red;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background: red;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background: red;
  }


  .text-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
    padding: 0px 0; /* Add padding to the top */
}
  
h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rtl 15000ms linear infinite;
  margin: 0;
}
  
  @keyframes move-rtl {
    0% {
      transform: translateX(170%);
    }
    100% {
      transform: translateX(-110%);
    }
  }
  


/*Gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 20px auto; /* Center the gallery horizontally */
}

.gallery .image {
  width: calc(100% / 3);
  padding: 7px;
}

.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.gallery .image:hover img {
  transform: scale(1.1);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .gallery .image {
    width: 90%;
    padding: 10px 0;
  }
}
