footer {
    width: 100%;
    position: absolute;
    margin-left: -17px;
    margin-top: 18px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align:left;
}
    .about{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
        margin-bottom: -76px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .iglogo{
        width: 30px;
        float: right;
        margin-top: -45px;
    }

@media all and (max-width: 1600px){
    footer {
        width: 100%;
        position: absolute;
        margin-left: -17px;
        margin-top: 20px;
        padding: 10px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

}
@media all and (max-width: 380px){
    footer {
        width: 373px;
        position: absolute;
        margin-left: -17px;
        margin-top: 0px;
        padding: 10px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 30px;
    }
    .iglogo{
        width: 30px;
        margin-right: 150px;
        margin-top: 0px;
    }
}
@media all and (max-width: 320px){
    footer {
        width: 315px;
        position: absolute;
        margin-left: -16px;
        margin-top: 0px;
        padding: 10px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 30px;
    }
    .iglogo{
        width: 30px;
        margin-right: 120px;
        margin-top: 0px;
    }
}
@media all and (max-width: 300px){
    footer {
        width: 295px;
        position: absolute;
        margin-left: -16px;
        margin-top: 0px;
        padding: 10px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 30px;
    }
    .iglogo{
        width: 30px;
        margin-right: 110px;
        margin-top: 0px;
    }
}