.container {
    padding: 20px;
    margin-top: 140px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  select {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 8rem;
    padding: 1rem;
    cursor: pointer;
    background: rgb(124, 12, 12);
    color: white;
    border-radius: 40px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
}
  
  @media (max-width: 990px) {
    input[type="text"],
    input[type="email"],
    textarea {
      width: 200%;
    }
  
    select {
      width: 100%;
    }
  }
