@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --gray: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}

/* Utility stylings */
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}

/* product section */
.products{
    background: var(--alice-blue);
    padding: 3.2rem 0;
}
.product{
    margin: 1.5rem;
    position: relative;
}
.product-content{
    background: var(--gray);
    cursor: pointer;
}
.product-img{
    width: 470px;
    height: 200px;
    margin: 0 auto;
    transition: 0.5s ease;
}
.product-info{
    background: white;
    padding: 2rem;
    margin-top: 50px;
}
/* .last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #000000;
} */
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}

@media all and (max-width: 380px){
    .product-img{
        width: 260px;
        height: 200px;
        margin: 0 auto;
        transition: 0.5s ease;
    }
    .product-info{
        background: white;
        padding: 2rem;
        margin-top: -75px;
    }
}

@media all and (max-width: 320px){
    .products{
        background: var(--alice-blue);
        padding: 3.2rem 0;
    }
    .product-img{
        width: 215px;
        height: 200px;
        margin: 0 auto;
        transition: 0.5s ease;
    }
    .product-info{
        background: white;
        padding: 2rem;
        margin-top: -100px;
    }
}

@media all and (max-width: 300px){
    .products{
        background: var(--alice-blue);
        padding: 3.2rem 0;
    }
    .product-img{
        width: 198px;
        height: 200px;
        margin: 0 auto;
        transition: 0.5s ease;
    }
    .product-info{
        background: white;
        padding: 2rem;
        margin-top: -110px;
    }
}

@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .products{
        margin-left: -195px;
        background: var(--alice-blue);
        padding: 3.2rem 0;
    }

    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
}

.customBike {
    position: absolute;
    width: 11rem;
    padding: 1rem;
    cursor: pointer;
    background: rgb(124, 12, 12);
    color: white;
    border-radius: 40px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    left: 85%;
    margin-top: 10px;
}

@media all and (max-width: 380px) {
    .customBike {
        left: 25%;
        margin-top: 10px;
    }
}

@media all and (max-width: 320px) {
    .customBike {
        left: 20%;
        margin-top: 10px;
    }
}
