@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --gray: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.title{
    text-align: center;
    margin-top: 50px;
    transform: skew(-8deg);
}
.description{
    font-size: 25px;
    transform: skew(-8deg);
    font-weight: bold;
    text-align: center;
}

@media all and (max-width: 380px){
    .title{
        text-align: center;
        margin-top: 80px;
        font-size: 35px;
    }
    .description{
        font-size: 18.5px;
        transform: skew(-8deg);
        font-weight: bold;
        text-align: center;
    }
}

@media all and (max-width: 320px){
    .title{
        text-align: center;
        margin-top: 70px;
        font-size: 29px;
    }
    .description{
        font-size: 18px;
        transform: skew(-8deg);
        font-weight: bold;
        text-align: center;
    }
}

@media all and (max-width: 300px){
    .title{
        text-align: center;
        margin-top: 70px;
        font-size: 25px;
    }
    .description{
        font-size: 18px;
        transform: skew(-8deg);
        font-weight: bold;
        text-align: center;
    }
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #000000;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
.product-price span{
    font-weight: 400;
}
/* message */
.container {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tlr"],
  textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius:5px;
    border: 1px solid #000000;
  }
  
  select {
    background: white;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #868686;
  }
  
  button {
    width: 8rem;
    padding: 1rem;
    cursor: pointer;
    background: rgb(124, 12, 12);
    color: white;
    border-radius: 40px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 1600px) {
    .container {
        margin-left: 0px;
        padding: 20px;
        margin-top: 00px;
        text-align: center;
      }
}
@media (max-width: 990px) {
    input[type="text"],
    input[type="email"],
    textarea {
      width: 200%;
    }
  
    select {
      width: 100%;
    }
}
@media all and (max-width: 380px){
    .container {
        margin-left: 00px;
        padding: 20px;
        margin-top: 390px;
        text-align: center;
      }
}

@media all and (max-width: 320px){
    .container {
        margin-left: 00px;
        padding: 20px;
        margin-top: 340px;
        text-align: center;
      }
}

@media all and (max-width: 300px){
    .container {
        margin-left: 00px;
        padding: 20px;
        margin-top: 320px;
        text-align: center;
      }
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -95px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
