footer {
    margin-top: 330px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align:center;
}
    .about{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
        margin-bottom: -76px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .iglogo{
        width: 30px;
        float: right;
        margin-top: -45px;
    }

@media all and (max-width: 1600px){
    footer {
        margin-top: 136px;
        padding: 10px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        padding: 10px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

}
@media all and (max-width: 380px){
    footer {
        margin-top: 136px;
        padding: 40px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 30px;
    }
    .iglogo{
        width: 30px;
        margin-right: 120px;
        margin-top: 0px;
    }
}
@media all and (max-width: 320px){
    footer {
        margin-top: 136px;
        padding: 40px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 30px;
    }
    .iglogo{
        width: 30px;
        margin-right: 87px;
        margin-top: 0px;
    }
}
@media all and (max-width: 300px){
    footer {
        margin-top: 136px;
        padding: 40px;
        background-color: black;
        color: white;
        text-align:left;
    }
    .about{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .contact{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .prodtime{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }
    .privacy{
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        padding: 30px;
    }
    .iglogo{
        width: 30px;
        margin-right: 80px;
        margin-top: 0px;
    }
}