@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --gray: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}

/* Utility stylings */
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
    margin-left: 15px;
}

/* product section */
.products {
    background: var(--alice-blue);
    padding: 3.2rem 0;
}

.product-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
}

.product {
    margin: 2rem;
    position: relative;
    width: 350px;
}

.product-content {
    background: var(--gray);
    cursor: pointer;
}

.product-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: 0.5s ease;
}

.product-info {
    background: white;
    padding: 2rem;
    margin-top: -20px;
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-price {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

.product-img img {
    transition: transform 0.6s ease;
}

.product:hover .product-img img {
    transform: scale(1.1);
}

@media all and (max-width: 380px) {
    .product-img {
        height: 160px;
    }
    .product-info {
        background: white;
        padding: 2rem;
        margin-top: -20px;
    }
    .product {
        margin: 2rem;
        position: relative;
        width: 280px;
    }
}

@media all and (max-width: 320px) {
    .product-img {
        height: 120px;
    }
    .product {
        margin: 2rem;
        position: relative;
        width: 230px;
    }
}

@media all and (max-width: 300px) {
    .product-img {
        height: 120px;
    }
    .product {
        margin: 2rem;
        position: relative;
        width: 220px;
    }
    .product-info {
        background: white;
        padding: 1.3rem;
        margin-top: -20px;
    }
}

@media screen and (min-width: 992px) {
    .product-items {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (min-width: 1200px) {
    .product-items {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .product {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1336px) {
    .product-items {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}


.NumberPlate{
    margin-top: 30px;
    width: 1920px;
    height: 450px;
    max-width: 1903px;
    background-image: url(numberplatebildes/NumberPlateShop1.png);
    color: white;
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 45px;
   -webkit-text-stroke-width:3px;
   -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
}
@media all and (max-width: 1600px){
    .NumberPlate{
        max-width: 1600px;
        margin-top: 20px;
        width: 1583px;
        height: 450px;
        position: relative;
        background-image: url(numberplatebildes/NumberPlateShop2.png);  
    }
}

@media all and (max-width: 380px){
    .NumberPlate{
        max-width: 380px;
        margin-top: 20px;
        width: 360px;
        height: 330px;
        position: relative;
        background-image: url(numberplatebildes/NumberPlateShop3.png);  
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
    }
}

@media all and (max-width: 320px){
    .NumberPlate{
        max-width: 320px;
        margin-top: 40px;
        width: 299px;
        height: 260px;
        position: relative;
        background-image: url(numberplatebildes/NumberPlateShop4.png);  
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
    }
}

@media all and (max-width: 300px){
    .NumberPlate{
        max-width: 300px;
        margin-top: 50px;
        width: 279px;
        height: 230px;
        position: relative;
        background-image: url(numberplatebildes/NumberPlateShop5.png);  
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
    }
}