*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 100px auto;
    max-width: 1600px;
}
.wrapper nav{
    display: flex;
    justify-content: center;
}
nav .items{
    display: flex;
    max-width: 1920px;
    width: 100%;
    justify-content: space-between;
}
nav .items .item{
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 0, 0);
    border: 2px solid rgb(124, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}
nav .items .active,
nav .items .item:hover{
    color: #fff;
    background: rgb(124, 0, 0);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}
.gallery .image{
    width: calc(100% / 3);
    padding: 7px;
    margin-top: 15px;
}
.gallery .image.hide{
    display: none;
}
.gallery .image.show{
    animation: animate 0.4s ease;
}
@keyframes animate{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img{
    transform: scale(1.1);
}

@media(max-width: 1000px){
    .gallery .image{
        width: calc(100% / 4);
    }
}
@media(max-width: 800px){
    .gallery .image{
        width: calc(100% / 2);
    }
}
@media(max-width: 700px){
    nav .items{
        max-width: 600px;
    }
    nav .items .item{
        padding: 7px 15px;
    }
}
@media(max-width: 600px){
    nav .items{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav .items .item{
        margin: 5px;
    }
    .gallery .image{
        width: 100%;
    }
}

.Honda{
    margin-top: 80px;
    width: 1920px;
    height: 450px;
    max-width: 1903px;
    background-image: url(hondabildes/HondaShop1.png);
    color: white;
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 45px;
   -webkit-text-stroke-width:3px;
   -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
}
@media all and (max-width: 1600px){
    .Honda{
        max-width: 1600px;
        margin-top: 80px;
        width: 1583px;
        height: 450px;
        position: relative;
        background-image: url(hondabildes/HondaShop2.png);  
    }
}

@media all and (max-width: 380px){
    .Honda{
        max-width: 380px;
        margin-top: 60px;
        width: 356px;
        height: 330px;
        position: relative;
        background-image: url(hondabildes/HondaShop3.png);  
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
    }
}

@media all and (max-width: 320px){
    .Honda{
        max-width: 320px;
        margin-top: 90px;
        width: 299px;
        height: 260px;
        position: relative;
        background-image: url(hondabildes/HondaShop4.png);  
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
    }
}

@media all and (max-width: 300px){
    .Honda{
        max-width: 300px;
        margin-top: 100px;
        width: 279px;
        height: 230px;
        position: relative;
        background-image: url(hondabildes/HondaShop5.png);  
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14.5px;
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color: black;

   .text{
    transform: skew(-8deg);
   }
    }
}
