@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: white;
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1150px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
/* .last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
} */
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

@media all and (max-width: 1600px){
    .card-wrapper{
        margin-top: 50px;
        max-width: 950px;
    }
    .product-content{
        margin-top: 0px;
        padding: 2rem 1rem;
    }
    .product-title{
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }
}
@media all and (max-width: 380px){
    .card-wrapper{
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 94px;
    }
    .product-content{
        margin-top: -50px;
        padding: 2rem 1rem;
    }
    .product-title{
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }
}

@media all and (max-width: 320px){
    .card-wrapper{
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 93px;
    }
    .product-content{
        margin-top: -50px;
        padding: 2rem 1rem;
    }
    .product-title{
        font-size: 2.5rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }
}

@media all and (max-width: 300px){
    .card-wrapper{
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 93px;
    }
    .product-content{
        margin-top: -50px;
        padding: 2rem 1rem;
    }
    .product-title{
        font-size: 2.3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }
}

/* message */
.container {
    padding: 20px;
    margin-top: -20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tlr"],
  textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius:5px;
    border: 1px solid #000000;
  }
  
  select {
    background: white;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #868686;
  }
  
  button {
    width: 8rem;
    padding: 1rem;
    cursor: pointer;
    background: rgb(124, 12, 12);
    color: white;
    border-radius: 40px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 1920px) {
    .container {
        margin-left: 900px;
        padding: 20px;
        margin-top: -300px;
        text-align: center;
      }
}
@media (max-width: 1600px) {
    .container {
        margin-left: 700px;
        padding: 20px;
        margin-top: -100px;
        text-align: center;
      }
}
@media (max-width: 990px) {
    input[type="text"],
    input[type="email"],
    textarea {
      width: 200%;
    }
  
    select {
      width: 100%;
    }
}
@media all and (max-width: 380px){
    .container {
        margin-left: 00px;
        padding: 20px;
        margin-top: 00px;
        text-align: center;
      }
}

@media all and (max-width: 320px){
    .container {
        margin-left: 00px;
        padding: 20px;
        margin-top: 00px;
        text-align: center;
      }
}

@media all and (max-width: 300px){
    .container {
        margin-left: 0px;
        padding: 20px;
        margin-top: 00px;
        text-align: center;
      }
}

/* read more */
#more {display: none;}
